---
// import SearchArea from "@components/SearchArea.vue";
import SearchArea from "@components/SearchArea.vue";
import Layout from "@layouts/Layout.astro";
import * as helpers from "@utils/helper";
const routeSlug = helpers.routeSlug;
const PocketBaseUrl = import.meta.env.PB_URL_PUB;

const seo = {
  title: "Cari Informasi Kode Pos",
  desc: "cari informasi kode pos berdasarkan nama daerah baik itu nama provinsi, kota, kecamatan ataupun berdasarkan nama kelurahan",
};
---

<Layout {seo}>
  <div class="text-sm breadcrumbs flex justify-center p-3">
    <ul>
      <li>
        <a href="/">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="w-4 h-4 mr-2 stroke-current"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"
            ></path>
          </svg>
          Home
        </a>
      </li>
      <li>
        <a href="/search">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="w-4 h-4 mr-2 stroke-current"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"
            ></path>
          </svg>
          Search
        </a>
      </li>
    </ul>
  </div>
  <SearchArea {routeSlug} {PocketBaseUrl} client:visible />
</Layout>
